body{
    margin:0;
    padding-top: 800px;
    text-align: center;
}

#welcome{
    color: #fa9d9d;
    top:0;
    bottom:0;
    opacity: 0.83;
    background: linear-gradient(#9fe5f8 0%, #0ce8c7 100%);
    display:table;
    width: 100%;
    height: 100%;
    z-index: 9;
}


.inner div{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.TBL{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

h2{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

#name{
 
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
}

#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

p{
    max-width: 600px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.line{
    height: 6px;
    background: black;
    width: 70px;
    margin:  8px auto;
}

.myNavbar1{
    z-index: 99;
    position: sticky;
    font-family:'Potta One', cursive;
    top: 0;
}

.links{
    float: left;
    color: #f2fc96;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: 'Gorditas', cursive;
    list-style: none;
}

.links:hover{
    background-color: #04e0c3;
    font-size: 30px;
    text-decoration: underline;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.a:hover{
    color: darkcyan;
}
.a{
    font-size: 21px;
}

#writings a{
    text-shadow: none !important;
    text-decoration: underline!important;
    color: aliceblue !important;
}


#contacts iframe{
    width: 100%;
}

.Contacts_1 h3{
    display: inline;
    font-size: 40px;
}

.Contacts_1 a{
    color: white;
    text-shadow: none;
}

input{
    background-color: #FF2400;
}
